.blog-header {
	padding-bottom: 0;
}

.blog-header-img {
	margin-bottom: 4em;
    border: 1px solid #aaa;
}

.blog-headline {
	font-size: 3rem;
    line-height: 4rem;
}

.cta-blog { 
	font-size: 1.3rem;
	margin-top: .75em !important;
	line-height: 3.4rem;
	width: 50%;
}

@media only screen and (max-width: 680px) {
	.blog-header {
		padding-top: 0;
	}
	.cta-blog {
	  width: 70%;
	}
	.blog-headline {
	  font-size: 2.25rem;
      line-height: 3rem;
	}
}
