@import 'colors', 'sizes', 'responsive';

// Main

.cta-download-link {
  font-size: 13px;
}

.intro-vid {
  margin-top: 1.8em;
}

.landing-top {
  margin-bottom: 7rem;
}

.main-grab {
  font-size: 2.75rem;
  font-family: MuseoSans;
  letter-spacing: .75px;
  color: #262626;
  margin-bottom: 1.9rem;
  line-height: 3.64rem;
  padding-top: 1.5rem;
}

.sub-grab {
  font-size: 1.43rem;
  line-height: 1.9rem;
  display: inline-block;
  margin-bottom: .68em;
}

.sub-grab-head {
  width: 82%;
  margin-bottom: 2rem !important;
}

.value-prop {
  font-weight: bold;
  letter-spacing: .5px;
}

.vid-container {
  margin-right: 1em;
}


// Use Cases

.Uses {
  margin-top: 8em;
}

.uses-overview {
  background: #603994;
  padding: 4rem 0 4rem 0;
  color: #fff;
}

.uses-header {
  color: #fff;
  font-size: 2.3rem;
  margin-bottom: 2.4rem;
  text-align: center;
}

.use-case-img {
  display: inline-block;
}

.use-case-item {
  font-size: 1.5rem;
}

.uses-grab {
    text-align: center;  
    letter-spacing: 1.3px;
    margin-bottom: .3rem;
}

.Uses__wrap {
  @extend .max-width;
  background: #603994;
  padding-top: 30px;
  max-width: unset;
}

.use-tile {
  display: inline-block;
  margin: 2.75rem 1.75rem 0 1.75rem;
}

.use-wrap {
  margin-bottom: 4rem;
  text-align: center;
}

.uses-wrapper {
  padding: 0;
}


.Uses__use-cases {
  position: relative;
}

.Uses__use-cases-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Uses__use-case {
  @extend .white-box;

  box-shadow: 0 3px 38px 0 rgba(0, 0, 0, 0.06), 0 3px 7px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 2rem;
  min-height: 17rem;
  overflow: hidden;
  padding: 3.5rem 6rem 3rem 7.5rem;
  position: relative;
  width: 48.5%;

  > h6 {
    @extend .with-line;

    margin-bottom: 3rem;

    &::after {
      bottom: -1.5rem;
    }
  }

  > p {
    margin-bottom: 0;
  }

  > img {
    left: -0.85rem;
    position: absolute;
    top: 9rem;
    width: 5.5rem;
  }

  &:nth-child(5),
  &:nth-child(6) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 900px) {
  .Uses__intro {
    font-size: 2.25rem;
    line-height: 3.5rem;
    padding-top: 5rem;
    position: static;
  }

  .Uses__use-cases {
    padding-top: 1.125rem;
    position: static;
  }
 
  .Uses__use-case {
    padding: 11.5rem 4rem 3rem;
    width: 100%;

    > img {
      left: 4rem;
      top: 3.5rem;
    }
  }

  .vid-container, .cta-download-link {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .Uses__use-case {
    padding: 10.5rem 2rem 2rem;

    > img {
      left: 2rem;
      top: 2rem;
    }
  }
}

// The Augur Cycle

.cycle-header {
  text-align: center;
  background: #603994;
  color: white;
  padding: 1.5em 0;
  max-width: 100%;
}

.cycle-header-text {
  margin-bottom: 0;
}

.AugurCycle {
  padding-top: 11.5rem;
}

.AugurCycle__steps-wrapper {
  @extend .max-width--wide;
}

.AugurCycle__step {
  display: flex;
  margin-bottom:3rem;

  > .step--image {
    width: 48%;

    > img {
      border: 4px solid $white;
      border-top-width: 12px;
      border-radius: 4px;
      box-shadow: 0 3px 38px 0 rgba(0, 0, 0, 0.06),
        0 3px 7px 0 rgba(0, 0, 0, 0.06), 0 10px 64px 0 rgba(0, 0, 0, 0.09);
    }
  }

  .step--text {
    padding: 6rem 2rem 0 6.625rem;
    width: 35%;

    > h3 {
      @extend .with-number;
      line-height: 1.1em;
    }
  }

  > *:first-child {
    margin-right: 3rem;
  }
}

.AugurCycle__step--left {
  @extend .AugurCycle__step;
  justify-content: flex-start;
}

.AugurCycle__step--right {
  @extend .AugurCycle__step;
  justify-content: flex-end;
}

.final-step {
  margin-bottom: 6em;
}

@media only screen and (max-width: 900px) {
  .AugurCycle {
    padding-top: 6rem;
  }

  .AugurCycle__step--left,
  .AugurCycle__step--right {
    flex-wrap: wrap;
    margin-bottom: 6rem;

    > .step--text {
      margin: 0 0 2rem;
      order: 1;
      width: 100%;
    }

    > .step--image {
      margin: 0;
      order: 2;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .AugurCycle {
    padding-top: 4rem;
  }

  .AugurCycle__step--left,
  .AugurCycle__step--right {
    margin-bottom: 2rem;

    > .step--text {
      padding-top: 4rem;
      padding-left: 3rem;
    }
  }
}

// Currencies

.Currencies {
  background-color: #fff;
}

.currencies-header {
  text-align: center;
}

.Currencies__wrap {
  @extend .max-width;
  position: relative;
  top: 5rem;
  margin-bottom: 6rem;
}

.Currencies__currency-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.Currencies__currency {
  @extend .white-box;

  color: $black;
  padding: 3.375rem 2.75rem 4rem 2.5rem;
  width: 48.5%;
}

.Currencies__currency-heading-wrap {
  align-items: start;
  display: flex;
  justify-content: flex-start;

  > div:first-child {
    margin-right: 3rem;
    padding-top: 0.625rem;

    > h2 {
      font-weight: 700;
      line-height: 3rem;
      margin-bottom: 0;
    }

    > h4 {
      @extend .with-line;

      margin-bottom: 3.25rem;

      &::after {
        bottom: -1.625rem;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .Currencies {
    padding-top: 0;
  }

  .Currencies__wrap {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: static;
  }

  .Currencies__currency-wrap {
    display: block;
  }

  .Currencies__currency {
    width: 100%;

    &:first-child {
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  .Currencies__currency-heading-wrap > div:first-child {
    margin-right: 1rem;
  }
}

// Technology

.Technology {
  padding-top: 7.375rem;
}

.Technology__wrap {
  @extend .max-width;

  position: relative;
  top: 5rem;

  > h2 {
    line-height: 3.625rem;
    margin-bottom: 2.5rem;
    max-width: 33rem;
  }
}

.Technology__blocks-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 12.375rem;
}

.Technology__block {
  @extend .white-box;

  background-color: rgba(255, 255, 255, 0.95);
  padding: 3.375rem 4rem 3rem 2.5rem;
  position: relative;
  width: 48.5%;

  > h4 {
    @extend .with-line;

    margin-bottom: 3.25rem;

    &::after {
      bottom: -1.625rem;
    }
  }

  &::before {
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    left: 50%;
    height: 13.75rem;
    position: absolute;
    width: 13.75rem;
    z-index: -1;
  }

  &:first-child::before {
    background-image: url('../images/icon--decentralized.svg');
    margin-left: -6.875rem;
    top: -8.5rem;
  }

  &:last-child::before {
    background-image: url('../images/icon--open-source.svg');
    margin-left: -6.875rem;
    top: -8rem;
  }
}

@media only screen and (max-width: 900px) {
  .Technology {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .Technology__wrap {
    position: static;
  }

  .Technology__blocks-wrap {
    display: block;
  }

  .Technology__block {
    width: 100%;

    &:first-child {
      margin-bottom: 10rem;
    }
  }
}

// Benefits

.Benefits {
  background-color: #fff;
  padding-top: 4.875rem;
  margin-bottom: 7em;
}

// Projects 

.projects-header {
  text-align: center;
  padding-top: 8rem;
}


@media only screen and (max-width: 900px) {
  .Benefits {
    padding-top: 6rem;
    padding-bottom: 0;
  }
}

// Connect

.Connect {
  padding: 6.5rem 0;
}

.Connect__wrap {
  @extend .max-width;

  > h2 {
    max-width: 33rem;
  }
}

.Connect__block-wrap-outer {
  display: flex;
  justify-content: space-between;

  > div:first-child {
    width: 40.7%;
  }
}

.Connect__block-wrap-inner {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 57%;

  > div {
    width: 48%;

    &:last-child {
      width: 100%;
    }
  }
}

.Connect__block {
  @extend .white-box;

  padding: 3.5rem 2.5rem 3rem;
  position: relative;

  > img {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
  }

  > h4 {
    margin-bottom: 1.5rem;
  }
}

.Connect__block--around-the-web {
  @extend .Connect__block;

  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;

  > h4 {
    max-width: 15rem;
  }

  > ul > li {
    display: inline-block;
    margin-right: 2.125rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.community-header {
  margin: 0 auto 2.3rem auto;
  width: 100%;
}

.get-started-header {
  line-height: 2.3rem;
}

@media only screen and (max-width: 1000px) {
  .Connect__block-wrap-outer {
    display: block;

    > div:first-child {
      margin-bottom: 2rem;
      width: 100%;
    }
  }

  .Connect__block-wrap-inner {
    width: 100%;

    > div {
      width: 100%;

      &:first-child {
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .Connect__block {
    padding: 2rem 3rem 2rem 1.5rem;
  }

  .Connect__block--around-the-web {
    display: block;
    padding-right: 1.5rem;

    > ul > li {
      margin-right: 1.5rem;
    }
  }
}

// Disclaimer

.Disclaimer {
  background-color: $purple--light;
  padding: 5rem 0;

  > div > p {
    max-width: 56rem;
  }
}

.download-links-section {
  flex-direction: row;
  h3 {
    white-space: nowrap;
  }
};

.download-links {
  display: flex;
  flex-flow: row wrap;
}

.download-links > a {
  &.download-link {
    @extend .button;
  }
  &.download-link.inverse-button {
    @extend .button--white;
  }

  text-align: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 700px) {
  .AugurCycle__steps-wrapper {
    margin-top: 0 !important;
  }

  .Benefits {
    padding-top: 3rem;
    margin-bottom: 7.5em;
  }

  .Connect {
    padding: 6.5rem 0 0 0;
  }

  .Currencies__currency-wrap {
    padding-bottom: 0;
  }

  .Currencies__wrap {
    margin-bottom: 0;
  }

  .use-tile {
    margin-right: 0;
    width: 47%;
    text-align: center;
    margin: 2.75rem 0 0 0;
  }

  .use-wrap {
    padding-left: 0;
  }

  .landing-top {
    margin-bottom: 4.5rem;
    padding-top: 2.1rem;
  }

  .main-grab {
    margin-bottom: .7em;
  }

  .quarter-tile {
    width: 46%;
  }

  .quarter-wrap {
    margin-bottom: 0;
  }

  .sub-grab {
    margin-bottom: .8em;
  }

  .sub-grab-head {
    width: 100%;
  }

  .use-case-img {
    margin: 0;
    margin-bottom: -.4rem;
  }

  .use-case-item {
    display: block;
  }

  .uses-grab { 
    line-height: 2.6rem;
  }

  .uses-intro {
    margin-bottom: 0;
  }

  .uses-overview {
    padding: 4rem .4rem 4rem .4rem;
  }

  .uses-test {
    margin-top: 7em;
  }

}

@media only screen and (min-width: 1100px) {
  .download-links {
    display: flex;
    flex-flow: row nowrap;
  }
}

@media only screen and (max-width: 1200px) {
  .download-links-section {
    flex-direction: column;
    &:first-child div {
      margin-bottom: 1rem;
    }
  };
}

.download-links.inverse-button > a {
  &.download-link {
    @extend .button--white;
  }
}

.prerelease-headline {
  padding: $size-76 0;
  text-align: center;

  > div {
    > h1 {
      color: $primary-text;
      font-size: $size-40;
      font-weight: 700;
      line-height: $size-48;
      margin-bottom: $size-16;
    }

    > a {
      display: inline-block;
      font-weight: bold;
      font-size: $size-20;
      color: $primary-text-link;
      &:active, &:focus {
        color: $primary-text-link;
      }
      &:hover {
        color: $primary-text-link-hover;
      }
    }
  }
}

.prerelease-clean-text {
  padding: $size-76 0;
  text-align: center;

  > div {
    padding: 0 $size-296;

    > h2 {
      color: $primary-text;
      font-size: $size-36;
      font-weight: 700;
      line-height: $size-42;
      margin-bottom: $size-16;
    }

    > p {
      color: $secondary-text;
      font-size: $size-18;
    }
  }

  @include lg {
    > div {
      padding: 0 $size-200;
    }
  }

  @include md {
    padding: $size-56 0;

    > div {
      padding: 0 $size-100;
    }
  }

  @include sm {
    > div {
      padding: 0 $size-24;
    }
  }
}

.prerelease-primary-sign-up-box {
  padding: 0 $size-24;

  > div {
    box-shadow: 0 $size-2 $size-10 rgba(0, 0, 0, 0.15);
    border-radius: $size-4;
    padding: $size-56 $size-48 $size-52;
    background-image: url('../../../src/images/smartphone-and-laptop.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right bottom;

    > div {
      width: 40%;

      > h2 {
        color: $primary-text;
        font-size: $size-28;
        font-weight: 700;
        line-height: $size-32;
        margin-bottom: $size-16;
      }

      > p {
        color: $secondary-text;
        font-size: $size-18;
        margin-bottom: $size-34;
      }

      > img {
        display: none;
      }

      > form {
        > h3 {
          font-size: $size-16;
          font-weight: 700;
          margin-bottom: $size-10;
        }

        > input[type='text'] {
          display: block;
          background: #FFFFFF;
          border: 2px solid #C9C9C9;
          box-sizing: border-box;
          border-radius: 4px;
          height: $size-44;
          width: 90%;
          padding: $size-12 $size-16;
          margin-bottom: $size-16;
          &::placeholder {
            color: $placeholder-text;
          }
        }

        > input[type='submit'] {
          border-radius: 24px;
          font-size: $size-18;
          font-weight: 700;
          line-height: $size-21;
          padding: $size-12 $size-44;
        }
      }
    }
  }

  @include lg {
    > div {
      background-image: none;

      > div {
        width: 100%;
        text-align: center;

        > h2 {
          margin-bottom: $size-34;
        }

        > img {
          display: block;
          margin: 0 auto $size-34;
          padding: 0 $size-14;
          width: 100%;
          box-sizing: border-box;
        }

        > form {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  @include md {
    padding: 0 $size-8;

    > div {
      padding: $size-32 $size-16;

      > div {
        > form {
          padding: 0 $size-4;

          > input[type='text'] {
            width: 100%;
          }
        }
      }
    }
  }
}

.prerelease-secondary-sign-up-box {
  padding: $size-76 0 $size-200;

  > div {
    > h2 {
      color: $primary-text;
      font-size: $size-28;
      font-weight: 700;
      line-height: $size-32;
      margin-bottom: $size-24;
    }

    > form {
      display: flex;
      flex-direction: column;
      align-items: center;

      > input[type='text'] {
        display: block;
        background: #FFFFFF;
        border: 2px solid #C9C9C9;
        box-sizing: border-box;
        border-radius: 4px;
        height: $size-44;
        width: 63%;
        padding: $size-12 $size-16;
        margin-bottom: $size-24;
        &::placeholder {
          color: $placeholder-text;
        }
      }

      > input[type='submit'] {
        border-radius: 24px;
        font-size: $size-18;
        font-weight: 700;
        line-height: $size-21;
        padding: $size-12 $size-44;
      }
    }
  }

  @include md {
    > div {
      > form {
        > input[type='text'] {
          width: 100%;
        }
      }
    }
  }
}
